node_modules
dist
test/temp
bower_components
.tmp
test/bower_components/
.publish
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
DevFest2015.iml
